@font-face {
  font-family: "agroL";
  src: url("./fonts/SB_Eoguro_OTF_L.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "agroM";
  src: url("./fonts/SB_Eoguro_OTF_M.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "agro";
  src: url("./fonts/SB_Eoguro_OTF_B.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  text-indent: -1.5em; /* 마커 위치 기준으로 들여쓰기 */
  padding-left: 1.5em; /* 전체 들여쓰기 */
  color: white;
  /* list-style-position: outside;
  display: flex;
  align-items: center; */
}

body.modal-wrapper-opened {
  overflow: hidden;
}

body.img-modal-wrapper-opened {
  overflow: hidden;
}
