@font-face {
  font-family: "agroL";
  src: url("./fonts/SB\ 어그로OTF\ L.otf") format("opentype");
  font-weight: 300; /* medium은 일반적으로 500의 폰트 가중치에 해당합니다. */
  font-style: light;
}
@font-face {
  font-family: "agroM";
  src: url("./fonts/SB\ 어그로OTF\ M.otf") format("opentype");
  font-weight: 500; /* medium은 일반적으로 500의 폰트 가중치에 해당합니다. */
  font-style: medium;
}
@font-face {
  font-family: "agro";
  src: url("./fonts/SB\ 어그로OTF\ B.otf") format("opentype");
  font-weight: 800; /* medium은 일반적으로 500의 폰트 가중치에 해당합니다. */
  font-style: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  color: white;
  /* list-style-position: outside;
  display: flex;
  align-items: center; */
}

body.modal-wrapper-opened {
  overflow: hidden;
}
